.navbar {
  display: flex;
  margin-left: 2rem;
  margin-right: 3rem;
  justify-content: space-between;
  align-items: center;
  background-color: #040f28;
}

.logo {
  font-family: Raleway;
  font-weight: 43.75rem;
  font-style: Bold;
  font-size: 1.5rem;
  color: white;
}

.nav-links a {
  text-decoration: none;
  color: #7e7d7d;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f4361d;
}

.btn-register{
  text-decoration: none;
  color:  #ffffff;
  border: 0.125rem solid #ffffff;
  border-radius: 3.125rem;
  font-weight: bold;
  text-align: center;
  transition: background 0.3s ease, color 0.3s ease;
}
.btn-register:hover{
  background: #ffffff;
  color: #0d0d1a;
}

.menu-toggle {
  font-size: 28px;
  cursor: pointer;
  user-select: none;
}
.close-btn {
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    display: none;
}

/* Mobile first default styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: white;
  padding: 10px 15px;
}

.nav-links {
  display: none;
  flex-direction: column;
  gap: 1rem;
}

.nav-links.active {
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  color: gray;
  text-decoration: none;
  padding: 10px;
  display: block;
}

/* Desktop styles (overrides) */
@media (min-width: 768px) {
  .menu-toggle {
    display: none; 
  }

  .nav-links {
    display: flex !important;
    flex-direction: row;
    position: static;
    background: none;
    width: auto;
  }

  .nav-links li a {
    padding: 0 15px;
  }
}
